/* PDF Preview Styles */
.react-pdf__Page {
  margin-bottom: 1rem;
}

.react-pdf__Page__canvas {
  max-width: 100%;
  height: auto !important;
}

.react-pdf__Page__textContent {
  display: none;
}

.react-pdf__Page__annotations {
  display: none;
}
